/*============================================================*/
/* Hero ======================================================*/
.hero {
  position: relative;
  overflow: hidden;
  min-height: 85vh;
  gap: 1.5rem;
}

.hero__title {
  font-size: clamp(3rem, 8vw, 5rem);
}

.hero__description {
  font-size: 1.1rem;
}

/*============================================================*/
/* Preview ===================================================*/

.preview {
  padding-block: 4rem;
}